body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
}

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Style the form inside the modal */
.modal-body form {
  max-width: 400px;
  margin: 0 auto;
}

/* Style the MovieCard component */
.card {
  margin: 10px;
}

/* Style the Filter component */
form {
  margin-bottom: 20px;
}

/* Center the Add Movie button */
button {
  display: block;
  margin: 20px auto;
}

/* Style the MovieList component */
div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card {
  margin: 10px;
}

/* Style the Filter component */
form {
  margin-bottom: 20px;
}

/* Center the Add Movie button */
button {
  display: block;
  margin: 20px auto;
}

/* Style the MovieList component */
div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }